<?php

declare(strict_types=1);
return [
    'vkontakte' => [
        'class'        => 'dektrium\user\clients\VKontakte',
        'clientId'     => 'CLIENT_ID',
        'clientSecret' => 'CLIENT_SECRET',
    ]
];

